/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2018, 6:28:16 PM
    Author     : Pig3on
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2018, 2:14:13 PM
    Author     : Pig3on
*/




.AnimatedButton{
   -fx-border-color: white;
    -fx-border-width: 1;
     -fx-border-radius: 20;
    
    -fx-background-color: transparent;
    -fx-background-size: 32px  18px;
    -fx-font-family:"BN Elements" bold;
    -fx-font-size: 15; /* 12 */
    
     -fx-text-fill: black;
    
}

.AnimatedButton:hover {
    -fx-border-color: red;
    -fx-background-color: red;
   
    
   
}

 

.AnimatedButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}
