/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2018, 11:25:46 AM
    Author     : Pig3on
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2018, 6:28:16 PM
    Author     : Pig3on
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2018, 2:14:13 PM
    Author     : Pig3on
*/


.SolutionArea{
 
  -fx-background-image: url("LogoBackground.png");
  -fx-background-size: stretch;
  -fx-background-repeat: no-repeat;
  
    
}
.CodeArea{
    -fx-background-color:transparent;
}

.nameLabel{
     -fx-font-family:"BN Elements" bold;
    -fx-font-size: 15; /* 12 */

    -fx-text-fill: white;
}
.CodeArea .text{
     
    -fx-fill: white;
    -fx-font-size: 18;
}  

.CodeArea .lineno .text {
    -fx-fill: black;
}

.SolutionArea *.split-pane-divider{
     -fx-padding: 0 1 0 1;
     -fx-background-color:red;
}
.BackgroundTable{
       -fx-background-color:red;
   
}

.BackgroundTable *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-background-color:red;
    
}
.TimeCounterLabel{
     -fx-font-family:"BN Elements" bold;
    -fx-font-size: 30; /* 12 */
    -fx-text-fill: white;
}
.ClockLabel{
     -fx-font-family:"BN Elements" bold;
    -fx-font-size: 30; /* 12 */
    -fx-text-fill: white;
}
.AnimatedButton{
   -fx-border-color: white;
    -fx-border-width: 1;
     -fx-border-radius: 20;
    
    -fx-background-color: transparent;
    -fx-background-size: 32px  18px;
    -fx-font-family:"BN Elements" bold;
    -fx-font-size: 15; /* 12 */
    
     -fx-text-fill: white;
    
}


.AnimatedButton:hover {
    -fx-border-color: red;
    
    
   
}

.AnimatedButton:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}
